[Unit]
Description=WallPimp Slideshow Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/wallpimp_daemon
Restart=on-failure
RestartSec=10
Environment="DISPLAY=:0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus"

[Install]
WantedBy=default.target
